@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-navy: #001B36;
  }
  
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .bg-navy {
    background-color: var(--color-navy);
  }
  
  .text-navy {
    color: var(--color-navy);
  }
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}